In [1]:
from influx import Influx
from dateutil import parser as dparser
control_logic_checks = [
    "HT_TIC_2440.PIDA.PV",
    "HT_FI_2440.DACA.PV",
    "HT_TI_4528.DACA.PV",
    "HT_TIC_4525.DACA.PV",
    "HT_TIC_2440.AO.READBACK.VALUE",
    "HT_TI_2431.DACA.PV",
    "HT_AI_2440.DACA.PV",
    "HT_PZI_4561A.PV",
    "HT_PZI_4561B.PV",
    "HT_PZI_4561C.PV",
    "HT_QA_2800.DACA.PV",
    "HT_TIC_4525.AO.READBACK.VALUE"
]
bursty_control_logic_checks = [
    "HT_P_4525A.DEVCTLA.PV",
    "HT_P_4525B.DEVCTLA.PV",
    "HT_P_4525C.DEVCTLA.PV"
]

In [11]:
#df = Influx().setRawQuery(queryStr).asDataFrame()
df = Influx().setDebug(True).from_now(30).setRate('10s').addFields(control_logic_checks).asDataFrame()

from(bucket: "datahub-test")
|> range(start: 1697944421, stop: 1697946221)
|> filter(fn: (r) => r._measurement == "phdpeer") |> filter(fn: (r) => r._field == "loremipsum" or r._field == "HT_TIC_2440.PIDA.PV" or r._field == "HT_FI_2440.DACA.PV" or r._field == "HT_TI_4528.DACA.PV" or r._field == "HT_TIC_4525.DACA.PV" or r._field == "HT_TIC_2440.AO.READBACK.VALUE" or r._field == "HT_TI_2431.DACA.PV" or r._field == "HT_AI_2440.DACA.PV" or r._field == "HT_PZI_4561A.PV" or r._field == "HT_PZI_4561B.PV" or r._field == "HT_PZI_4561C.PV" or r._field == "HT_QA_2800.DACA.PV" or r._field == "HT_TIC_4525.AO.READBACK.VALUE")|> aggregateWindow(every: 10s, fn: mean, createEmpty: false)

In [12]:
df[df._field == 'HT_QA_2800.DACA.PV']

,result,table,_start,_stop,_time,_value,_field,_measurement
225,_result,5,2023-10-22 10:15:40+07:00,2023-10-22 10:15:40+07:00,2023-10-22 10:15:40+07:00,-41.739185,HT_QA_2800.DACA.PV,phdpeer
226,_result,5,2023-10-22 10:16:50+07:00,2023-10-22 10:16:50+07:00,2023-10-22 10:16:50+07:00,-41.762539,HT_QA_2800.DACA.PV,phdpeer
227,_result,5,2023-10-22 10:17:40+07:00,2023-10-22 10:17:40+07:00,2023-10-22 10:17:40+07:00,-41.739185,HT_QA_2800.DACA.PV,phdpeer
228,_result,5,2023-10-22 10:26:40+07:00,2023-10-22 10:26:40+07:00,2023-10-22 10:26:40+07:00,-41.715885,HT_QA_2800.DACA.PV,phdpeer
229,_result,5,2023-10-22 10:37:40+07:00,2023-10-22 10:37:40+07:00,2023-10-22 10:37:40+07:00,-41.692635,HT_QA_2800.DACA.PV,phdpeer

In [102]:
df1 = Influx().setDebug(True).from_now(60*24*30*6).addFields(bursty_control_logic_checks).setRate(None).asDataFrame()

from(bucket: "datahub-test")
|> range(start: 1682341526, stop: 1697893526)
|> filter(fn: (r) => r._measurement == "phdpeer") |> filter(fn: (r) => r._field == "loremipsum" or r._field == "HT_P_4525A.DEVCTLA.PV" or r._field == "HT_P_4525B.DEVCTLA.PV" or r._field == "HT_P_4525C.DEVCTLA.PV")

In [103]:
df1

,result,table,_start,_stop,_time,_value,_field,_measurement
0,_result,0,2023-04-28 08:48:20+07:00,2023-04-28 08:48:20+07:00,2023-04-28 08:48:20+07:00,STOP,HT_P_4525A.DEVCTLA.PV,phdpeer
1,_result,0,2023-04-30 23:08:45+07:00,2023-04-30 23:08:45+07:00,2023-04-30 23:08:45+07:00,STOP,HT_P_4525A.DEVCTLA.PV,phdpeer
2,_result,0,2023-05-04 16:58:15+07:00,2023-05-04 16:58:15+07:00,2023-05-04 16:58:15+07:00,STOP,HT_P_4525A.DEVCTLA.PV,phdpeer
3,_result,0,2023-05-06 08:03:58+07:00,2023-05-06 08:03:58+07:00,2023-05-06 08:03:58+07:00,STOP,HT_P_4525A.DEVCTLA.PV,phdpeer
4,_result,0,2023-05-09 09:03:19+07:00,2023-05-09 09:03:19+07:00,2023-05-09 09:03:19+07:00,STOP,HT_P_4525A.DEVCTLA.PV,phdpeer
...,...,...,...,...,...,...,...,...
250,_result,2,2023-10-11 21:51:21+07:00,2023-10-11 21:51:21+07:00,2023-10-11 21:51:21+07:00,STOP,HT_P_4525C.DEVCTLA.PV,phdpeer
251,_result,2,2023-10-15 06:36:02+07:00,2023-10-15 06:36:02+07:00,2023-10-15 06:36:02+07:00,STOP,HT_P_4525C.DEVCTLA.PV,phdpeer
252,_result,2,2023-10-15 06:55:12+07:00,2023-10-15 06:55:12+07:00,2023-10-15 06:55:12+07:00,STOP,HT_P_4525C.DEVCTLA.PV,phdpeer
253,_result,2,2023-10-18 10:42:21+07:00,2023-10-18 10:42:21+07:00,2023-10-18 10:42:21+07:00,STOP,HT_P_4525C.DEVCTLA.PV,phdpeer
254,_result,2,2023-10-21 05:50:22+07:00,2023-10-21 05:50:22+07:00,2023-10-21 05:50:22+07:00,STOP,HT_P_4525C.DEVCTLA.PV,phdpeer

In [114]:
df1[df1._field == "HT_P_4525C.DEVCTLA.PV"].head(1)

,result,table,_start,_stop,_time,_value,_field,_measurement
167,_result,2,2023-04-28 08:48:20+07:00,2023-04-28 08:48:20+07:00,2023-04-28 08:48:20+07:00,RUN,HT_P_4525C.DEVCTLA.PV,phdpeer